body {
  background-image: url("../image/blackcatfur.png");
  background-size: contain;
  text-align: center
}
h1, h2 {
  color: #00FFFF; /* Electric Blue */
}
.mouse-toy {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 60px;
  cursor: pointer;
  background-color: transparent !important;
}
#chance-container {
  position: relative;
  background-color: transparent;
}
