body {
  background-image: url("../image/blackcatfur.png");
  background-size: contain;
  text-align: center
}
h1, h2 {
  color: #00FFFF; /* Electric Blue */
}
.mouse-toy {
  position: absolute;
  bottom: 32px;     /* Distance from the bottom of the container */
  left: 23px;    /* Distance from the left of the container */
  width: 80px;   /* Optional: resize the image */
  cursor: pointer;
  z-index: 10;   /* Optional: makes sure it appears above other elements */
  background-color: transparent !important;
}
#chance-container {
  position: relative;
}
