body {
  background-color: #5CB3FF; /* Crystal Blue */
}
:root {
  --chance-color: #000000; /* Black */
  --ryan-color: #5CB3FF; /* Crystal Blue */
  --courtney-color: #4169E1; /* Royal Blue */
  --mom-color: #FF9F00; /* Orange Peel*/
  --tyler-color: #888888; /* Gray */
  --ethan-color: #50C878; /* Emerald Green */
  --brooke-color: #65000b; /* Rosewood */
  --gameroom-color: #39FF14; /* Neon Green */
  --home-color: #f5f5dc; /* Pale Cream */
}
.chance-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--chance-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.ryan-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--ryan-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.courtney-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--courtney-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.mom-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--mom-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.tyler-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--tyler-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.ethan-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--ethan-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.brooke-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--brooke-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.home-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--home-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.gameroom-button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: var(--gameroom-color);
  padding: 16px 24px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
